nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 1.1rem 1.4rem;
    z-index: 2;
    position: fixed;
    left: 40%;
    transformation: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.7rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}    

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}    

@media screen and (max-width: 600px) {
    nav {
        width: 80%; /* Make the navigation bar full width */
        left: 50%; /* Center horizontally */
        transform: translateX(-49%); /* Center horizontally */
        bottom: 2rem;
    }
}
